# UW Madison NetID
# To use an already-provisioned static IP, add a numerical suffix like "myNetID_1"
# (see KB for details: https://kb.wisc.edu/ns/108255)
user=
# NetID password
password=
# Path to the scripts/hipreport.sh script included in this repository
hipreport=
# Script used to set up routing and DNS after connecting
# Specify the included scripts/vpnc-script for simple, non-split-tunnel access
script=

# Subnets to route through the VPN
subnets=(
	#1.2.3.4/16
)

# Additional hostnames to route through the VPN (resolved at connect time)
hosts=(
	#host.name.tld
)

# AWS regions whose CloudFront IP ranges should be routed through the VPN.
# When set, ip-ranges.amazonaws.com is queried at connect time and all matching
# CLOUDFRONT CIDRs are added to the tunnel. Use "GLOBAL" for globally-distributed
# CloudFront edge IPs (requires curl and jq).
tunnel_aws_regions=(
	#us-east-1
	#us-east-2
	#GLOBAL
)
